* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
display: flex;
}

section {
float: left;
display: flex;
flex-direction: column;
height: 100vh;
width: 80vw;
}

.section_h2 {
height: 1.5em;
padding: 0.25em;
margin: 0 0 0.5rem 0;
font-family: Arial, Helvetica, sans-serif;
/* background-color: rgb(124, 183, 234); */
/* box-shadow: 0 0 4px 5px rgb(124, 183, 234); */
box-shadow: 0 0 5px 5px darkgray;
}
  

.container {
margin: 0;
display: flex;
}

#container_anstehend {
width: 100%;
height: 65vh;
padding: 0 0.5rem 0 0.5rem;
flex-wrap: wrap;
overflow: scroll; 
background-color: lightgray;
}

#container_neuste {
height: 25vh;
overflow-x: auto;
align-items: center;
background-color: lightgray;
border: none;
}

.notiz {
flex-grow: 1;
flex-wrap: wrap;
width: 20%;
max-width: 20vw;
min-width: 150px;
height: 35%;
margin: 0.5rem;
padding: 0.5rem;
background-color: rgb(253, 255, 133);
box-shadow: 0 0 4px 2px darkgrey;
word-wrap:break-word;
overflow: auto; /* Zeigt Scrollbalken, wenn der Text den verfügbaren Platz überschreitet */
/* font-size: calc(0.8vw + 0.8vh + 0.8vmin); Skalierung der Schriftgröße basierend auf der Viewport-Größe */
line-height: 1.15;
transition-duration: 0.5s;
}

.notiz:hover {
background-color: lightyellow;
transform: scale(0.95);

}

#notiz_neuste {
width: 35%;
height: 80%;
flex-grow: 0;
flex-shrink: 0;
width: 20%;
}

.notiz h1 {
font-size: 1rem;
font-family: Arial, Helvetica, sans-serif;
}
.notiz p {
font-size: 0.75rem;
font-family: Arial, Helvetica, sans-serif;
}



aside {
float: left;
height: 100vh;
width: 20vw;
background-color: rgb(124, 183, 234);
/* box-shadow: 0 0 4px 5px rgb(124, 183, 234); */
box-shadow: 0 0 4px 5px black;
padding: 1rem;
color: white;
z-index: 999;
}

aside h1 {
margin: 0;
}

aside h1 span {
font-size: 1.2rem;
font-weight: bold;
text-decoration: underline;

}

#Kat_header {
  display: flex;
  width: 100%;
  
  /* background-color: darkgrey; */
  justify-content:space-around;
  align-items: center;
  margin-bottom: 1rem;
  flex-grow: 1;
}

aside a {
  height: 2rem;
  width: 20%;
  margin: 0.5rem 0 0.5rem 0;
}

aside img {
  height: 2rem;
  width: 2rem;
}
