* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
display: flex;
}

section {
float: left;
display: flex;
flex-direction: column;
height: 100vh;
width: 80vw;
}

.section_h2 {
height: 5vh;
padding: 0.5rem;
font-family: Arial, Helvetica, sans-serif;
}

.container {
margin: 0;
background-color: lightgrey;
display: flex;
}

#container_anstehend {
width: 100%;
height: 65vh;
flex-wrap: wrap;
overflow: scroll; 
}

#container_neuste {
height: 25vh;
overflow-x: auto;
align-items: center;
}

.notiz {
flex-grow: 1;
width: 20%;
height: 30%;
margin: 0.5rem;
padding: 0.5rem;
background-color: yellow;
box-shadow: 0 0 4px 2px darkgrey;
word-wrap:break-word;
overflow: auto; /* Zeigt Scrollbalken, wenn der Text den verfügbaren Platz überschreitet */
/* font-size: calc(0.8vw + 0.8vh + 0.8vmin); Skalierung der Schriftgröße basierend auf der Viewport-Größe */
line-height: 1.15;
}

#notiz_neuste {
width: 35%;
height: 80%;
flex-grow: 0;
flex-shrink: 0;
width: 20%;
}

.notiz h1 {
font-size: 1.5rem;
font-family: Arial, Helvetica, sans-serif;
}
.notiz p {
font-size: 1rem;
font-family: Arial, Helvetica, sans-serif;
}



aside {
float: left;
height: 100vh;
width: 20vw;
background-color: blue;
padding: 1rem;
color: white;
}

aside h1 {
margin: 0;
}
